body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font-size:12px; color:#666;font-family:  "\5FAE\8F6F\96C5\9ED1",Helvetica,Arial,sans-serif; background:#fff; line-height:24px; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

html, body {
  height: 100%; }

body {
  min-width: 1020px;
  background: #fcfcfc; }

.master-wrap {
  min-height: 100%;
  position: relative; }

img {
  max-width: 100%; }



/*--------------------------------------------------
---------- Base Typography Styles
--------------------------------------------------*/
body, input, textarea {
  amily: "Open Sans", Arial, Sans-Serif;
  font-size: 14px;
  color: #4b4b4b;
  line-height: 170%; }

h1, h2, h3, h4, h5 {
  font-weight: 600;
  color: #353535;
  margin: 5px 0px; }

h1 {
  font-size: 3.000em;
  line-height: 110%; }

h2 {
  font-size: 2.571em;
  line-height: 115%; }

h3 {
  font-size: 2.000em;
  line-height: 115%; }

h4 {
  font-size: 1.571em;
  line-height: 125%; }

h5 {
  font-size: 1.186em;
  line-height: 155%; }

h2 + h5 {
  margin-top: 15px; }

p + p {
  margin-top: 20px; }

a {
  color: #326bb1;
  text-decoration: none;
  -moz-transition: all linear 0.15s;
  -webkit-transition: all linear 0.15s;
  -o-transition: all linear 0.15s;
  -ms-transition: all linear 0.15s; }

a:hover, .secondary-nav ul li.current a {
  text-decoration: underline; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

ol.list li, ul.list li, .featured-wrap ul.list li, .featured-wrap ol.list li {
  margin: 12px 0px 12px 40px; }

ol.list li, .featured-wrap ol.list li {
  list-style: decimal; }

ul.list li, .featured-wrap ul.list li {
  list-style: disc; }

/*--------------------------------------------------
---------- Fonts/Typography
--------------------------------------------------*/
/*----- Weights -----*/
.light {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.semiBold {
  font-weight: 600; }

.bold {
  font-weight: 700; }

/*----- Alignment -----*/
.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.align-right {
  text-align: right; }
/*--------------------------------------------------
---------- Positioning (Margin, Padding etc...)
--------------------------------------------------*/
/*----- Floating -----*/
.left {
  float: left; }

.right {
  float: right; }

/*----- Margin -----*/
.m-0 {
  margin: 0px; }

.m-5 {
  margin: 5px; }

.m-10 {
  margin: 10px; }

.m-15 {
  margin: 15px; }

.m-20 {
  margin: 20px; }

/*----- Margin TOP -----*/
.mt-0 {
  margin-top: 0px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mt-80 {
  margin-top: 80px; }

.mt-90 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 80px; }

/*----- Margin RIGHT -----*/
.mr-0 {
  margin-right: 0px; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-30 {
  margin-right: 30px; }

.mr-40 {
  margin-right: 40px; }

.mr-50 {
  margin-right: 50px; }

.mr-60 {
  margin-right: 60px; }

.mr-70 {
  margin-right: 70px; }

.mr-80 {
  margin-right: 80px; }

.mr-90 {
  margin-right: 70px; }

.mr-100 {
  margin-right: 80px; }

/*----- Margin BOTTOM -----*/
.mb-0 {
  margin-bottom: 0px !important; }

.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-90 {
  margin-bottom: 70px; }

.mb-100 {
  margin-bottom: 80px; }

/*----- Margin LEFT -----*/
.ml-0 {
  margin-left: 0px; }

.ml-5 {
  margin-left: 5px; }

.ml-10 {
  margin-left: 10px; }

.ml-15 {
  margin-left: 15px; }

.ml-20 {
  margin-left: 20px; }

.ml-30 {
  margin-left: 30px; }

.ml-40 {
  margin-left: 40px; }

.ml-50 {
  margin-left: 50px; }

.ml-60 {
  margin-left: 60px; }

.ml-70 {
  margin-left: 70px; }

.ml-80 {
  margin-left: 80px; }

.ml-90 {
  margin-left: 70px; }

.ml-100 {
  margin-left: 80px; }

/*----- Padding TOP -----*/
.pt-0 {
  padding-top: 0px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-30 {
  padding-top: 30px; }

.pt-40 {
  padding-top: 40px; }

.pt-50 {
  padding-top: 50px; }

.pt-60 {
  padding-top: 60px; }

.pt-70 {
  padding-top: 70px; }

.pt-80 {
  padding-top: 80px; }

.pt-90 {
  padding-top: 70px; }

.pt-100 {
  padding-top: 80px; }

/*----- Padding RIGHT -----*/
.pr-0 {
  padding-right: 0px; }

.pr-5 {
  padding-right: 5px; }

.pr-10 {
  padding-right: 10px; }

.pr-15 {
  padding-right: 15px; }

.pr-20 {
  padding-right: 20px; }

.pr-30 {
  padding-right: 30px; }

.pr-40 {
  padding-right: 40px; }

.pr-50 {
  padding-right: 50px; }

.pr-60 {
  padding-right: 60px; }

.pr-70 {
  padding-right: 70px; }

.pr-80 {
  padding-right: 80px; }

.pr-90 {
  padding-right: 70px; }

.pr-100 {
  padding-right: 80px; }

/*----- Padding bottom -----*/
.pb-0 {
  padding-bottom: 0px; }

.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-80 {
  padding-bottom: 80px; }

.pb-90 {
  padding-bottom: 70px; }

.pb-100 {
  padding-bottom: 80px; }

/*----- Padding LEFT -----*/
.pl-0 {
  padding-left: 0px; }

.pl-5 {
  padding-left: 5px; }

.pl-10 {
  padding-left: 10px; }

.pl-15 {
  padding-left: 15px; }

.pl-20 {
  padding-left: 20px; }

.pl-30 {
  padding-left: 30px; }

.pl-40 {
  padding-left: 40px; }

.pl-50 {
  padding-left: 50px; }

.pl-60 {
  padding-left: 60px; }

.pl-70 {
  padding-left: 70px; }

.pl-80 {
  padding-left: 80px; }

.pl-90 {
  padding-left: 70px; }

.pl-100 {
  padding-left: 80px; }

/*--------------------------------------------------------------
	Table of Contents:
		- Parent Wrappers
		- Row/Column Structure
--------------------------------------------------------------*/
/*--------------------------------------------------
---------- Parent Wrappers
--------------------------------------------------*/
.full-wrap, .wrap {
  margin: 0px auto; }

.full-wrap {
  width: 100%;
  margin: auto; }

.wrap {
  width: 1200px; }

/*--------------------------------------------------
---------- Row/Column Structure
--------------------------------------------------*/
.row {
  width: 100%;
  display: inline-block;
  /*----- Row followed directly by another row -----*/
  /*----- First level of block (any size) -----*/
  /*----- Each adapts to any parent-width -----*/ }
  .row + .row {
    margin-top: 20px; }
  .row > [class^="block-"] {
    min-height: 20px;
    margin-right: 3%;
    float: left; }
    .row > [class^="block-"]:last-child {
      margin-right: 0%; }
  .row .block-1 {
    width: 5.583333333333333%; }
  .row .block-2 {
    width: 14.16666666666667%; }
  .row .block-2-5 {
    width: 17.6%; }
  .row .block-3 {
    width: 22.75%; }
  .row .block-4 {
    width: 31.33333333333333%; }
  .row .block-4-5 {
    width: 33.33333333333333%; }
  .row .block-5 {
    width: 39.91666666666667%; }
  .row .block-6 {
    width: 48.5%; }
  .row .block-7 {
    width: 57.08333333333333%; }
  .row .block-8 {
    width: 65.66666666666666%; }
  .row .block-9 {
    width: 74.25%; }
  .row .block-10 {
    width: 82.83333333333333%; }
  .row .block-11 {
    width: 91.41666666666666%; }
  .row .block-12 {
    width: 100%; }
  .row .block-12 + .block-12 {
    margin-top: 30px; }

/*--------------------------------------------------
---------- Struture
--------------------------------------------------*/
.nav li {
	cursor:pointer;}
.nav {
  display: inline-block; }
  .nav > li {
    margin-left: 40px;
    float: left;
    display: inline-block;
    position: relative; }
    .nav > li:first-child {
      margin-left: 0px; }
    .nav > li .arrow {
      position: relative;
      top: -1px;
      left: 2px;
      font-size: 0.643em;
      line-height: 100%; }

/*--------------------------------------------------
---------- Top Bar
--------------------------------------------------*/
.top-bar-wrap {
  background: #222222; }
  .top-bar-wrap [class^="block-"] {
    margin-bottom: -7px; }
    .top-bar-wrap [class^="block-"] a {
      padding: 3px 0px;
      display: inline-block;
      font-size: 12px;
      color: #ccc; }
      .top-bar-wrap [class^="block-"] a:hover, .top-bar-wrap [class^="block-"] .secondary-nav ul li.current a, .secondary-nav ul li.current .top-bar-wrap [class^="block-"] a {
        color: #fff; }

/*--------------------------------------------------
---------- Header
--------------------------------------------------*/
.header {
  border-bottom: 1px solid #ddd; }
  .header .row {
    margin-bottom: -7px; }
  .header .site-logo {
    width: 121px;
    height: 46px;
    margin-top: 10px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url("../img/general/logos.png") no-repeat; }
  .header .home-logo {
    width: 250px;
    height: 72px;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: url("img/large-logo.png") no-repeat; }
  .header .rwd-nav-icon {
    display: none; }
  .header .nav > li.current a {
    color: #a0b849 !important; }
  .header .nav > li > a:not(.btn) {
    padding: 20px 0px 17px;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: #4c4c4c; }
    .header .nav > li > a:not(.btn):hover, .header .secondary-nav ul li.current .nav > li > a:not(.btn), .secondary-nav ul li.current .header .nav > li > a:not(.btn) {
      text-decoration: none;
      color: #a0b849; }
  .header .nav > li .btn {
    margin-top: 10px; }
  .header .nav .dropdown {
    top: 60px; }

/*--------------------------------------------------
---------- White Box
--------------------------------------------------*/
.white-box {
  margin-top: 64px;
  background: rgba(255, 255, 255, 0.75); }
  .white-box h1, .white-box h2, .white-box h3, .white-box h4, .white-box h5 {
    text-shadow: none;
    color: #353535; }
  .white-box .single-product {
    padding: 3% 0% 2.5%;
    position: relative;
    text-align: center; }
    .white-box .single-product .ss-icon {
      width: 34.04255319148936%;
      display: inline-block;
      position: absolute;
      top: -61px;
      left: 34%;
      content: '';
      border-radius: 1000px;
      background: transparent 0%;
      background: -moz-linear-gradient(rgba(255, 255, 255, 0.75) 50%, transparent 0%);
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0.75) 50%, transparent 0%);
      background: -o-linear-gradient(rgba(255, 255, 255, 0.75) 50%, transparent 0%);
      background: -ms-linear-gradient(rgba(255, 255, 255, 0.75) 50%, transparent 0%);
      font-size: 5.000em;
      line-height: 175%;
      color: #9A9DA1; }
    .white-box .single-product * {
      position: relative;
      z-index: 100; }
    .white-box .single-product p {
      margin: 0px;
      display: inline-block;
      font-size: 1.143em; }
    .white-box .single-product li {
      padding: 7.5px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: 1em;
      text-shadow: none;
      color: #4b4b4b; }
      .white-box .single-product li:last-child {
        border-bottom: none; }
    .white-box .single-product .btn {
      margin-top: 10px; }
	  

/*--------------------------------------------------
---------- Featured Area
--------------------------------------------------*/
.featured-wrap {
  padding: 30px 0 0;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2), inset 0px -1px 6px rgba(0, 0, 0, 0.2);
  background: #172738;
  background: -moz-radial-gradient(#344e6b, #172738);
  background: -webkit-radial-gradient(#344e6b, #172738);
  background: -o-radial-gradient(#344e6b, #172738);
  background: -ms-radial-gradient(#344e6b, #172738);
  background-size: cover;
  position: relative; }
  .featured-wrap h1, .featured-wrap h2, .featured-wrap h3, .featured-wrap h4, .featured-wrap h5, .featured-wrap li {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.35);
    color: #fff; }
  .featured-wrap h1 {
    font-size: 45px;
    font-weight: 400;
    letter-spacing: -1px; }
  .featured-wrap h3 {
    line-height: 160% !important;
    font-weight: 100; }
  .featured-wrap h5 {
    margin-top: 10px;
    font-weight: 400;
    line-height: 170%; }
    .featured-wrap h5 span {
      font-size: 0.9em;
      font-style: italic;
      display: block; }
  .featured-wrap .quote {
    color: #FFF; }
  .featured-wrap .meta {
    color: #FFF; }
  .featured-wrap li {
    font-size: 1.143em; }
    .featured-wrap li a {
      color: #6e9eea; }	  
	


/*--------------------------------------------------
---------- Featured Trial
--------------------------------------------------*/
.featured-trial {
  background-image: url(../img/bg/workspaces-featured.jpg); }
  .featured-trial h3, .featured-trial h4 {
    color: #7DA6D7;
    line-height: 130%; }
  .featured-trial #featured_form p {
    margin-top: 20px;
    color: #e2e2e2; }
    .featured-trial #featured_form p a {
      color: #A5C5E6; }

/*--------------------------------------------------
---------- Portfolio Plans Table
--------------------------------------------------*/
.portfolio-form-wrap {
  margin-left: 17%; }

.plans-table-portfolio {
  border: 1px solid #bbb; }
  .plans-table-portfolio .row {
    width: 100%;
    padding: 0px;
    box-shadow: none;
    border: none; }
    .plans-table-portfolio .row:first-child label {
      border: none; }
    .plans-table-portfolio .row:last-child label {
      margin-bottom: -7px; }
    .plans-table-portfolio .row label {
      width: 92.1%;
      padding: 2% 2% 2% 6%;
      display: inline-block;
      position: relative;
      box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.7);
      border-top: 1px solid #bbb; }
      .plans-table-portfolio .row label:hover, .plans-table-portfolio .row label.checked {
        box-shadow: inset 0px 1px 0px #C3DBEB;
        border-color: #ababab;
        background: #B2CADA; }
      .plans-table-portfolio .row label input[type="radio"] {
        position: absolute;
        top: 35px;
        left: 12px; }
      .plans-table-portfolio .row label .info {
        float: left; }
        .plans-table-portfolio .row label .info h4 span {
          color: #c66363; }
      .plans-table-portfolio .row label .price {
        float: right; }
			  

/*--------------------------------------------------
---------- Footer
--------------------------------------------------*/
.footer-push {
  width: 100%;
  padding-bottom: 128px;
  display: inline-block; }

.footer-wrap {
  padding: 30px 0px;
  position: absolute;
  bottom: 0px;
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.5);
  background: #353535; }
  .footer-wrap * {
    text-shadow: -1px 1px 0px rgba(0, 0, 0, 0.5);
    color: #ababab; }
  .footer-wrap p, .footer-wrap a {
    font-size: 13px; }
  .footer-wrap a:hover, .footer-wrap .secondary-nav ul li.current a, .secondary-nav ul li.current .footer-wrap a {
    color: #fff; }
  .footer-wrap .cols h5 {
    color: #6D93C3; }
  .footer-wrap .cols li {
    margin-top: 12px; }
    .footer-wrap .cols li a {
      font-weight: 600; }
  .footer-wrap .social li {
    width: 45%;
    float: left;
    display: inline-block;
    position: relative;
    top: -5px; }
    .footer-wrap .social li a {
      text-decoration: none; }
      .footer-wrap .social li a:hover:before, .footer-wrap .social .secondary-nav ul li.current a:before, .secondary-nav ul .footer-wrap .social li.current a:before {
        opacity: 1; }
      .footer-wrap .social li a:before {
        width: 18px;
        height: 18px;
        margin-top: 5px;
        padding-right: 3px;
        float: left;
        display: inline-block;
        content: '';
        opacity: 0.5;
        -moz-transition: opacity linear 0.15s;
        -webkit-transition: opacity linear 0.15s;
        -o-transition: opacity linear 0.15s;
        -ms-transition: opacity linear 0.15s;
        background: url("../img/icons/footer-icons.png") no-repeat; }
      .footer-wrap .social li a.twitter:before {
        background-position: -91px 0px; }
      .footer-wrap .social li a.linkedin:before {
        background-position: 0px -35px; }
      .footer-wrap .social li a.google:before {
        background-position: -91px -35px; }
      .footer-wrap .social li a.rss:before {
        background-position: 0px -70px; }
  .footer-wrap .bottom {
    padding-top: 30px;
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.5); }
    .footer-wrap .bottom .logo {
      width: 117px;
      height: 45px;
      float: left;
      display: inline-block;
      overflow: hidden;
      text-indent: -9999px;
      background: url("../img/general/logos.png") 0px -280px no-repeat; }
    .footer-wrap .bottom .copyright, .footer-wrap .bottom .back-to-top {
      margin-top: 14px; }
    .footer-wrap .bottom .copyright {
      margin-left: 30px;
      float: left; }

/*--------------------------------------------------
---------- Home
--------------------------------------------------*/
.home .header {
  border: none;
  background: none;
  margin-bottom: 80px; }
  .home .header .site-logo {
    background: url("../img/general/logos.png") 0px -280px no-repeat; }
  .home .header .nav li a {
    text-transform: none;
    color: #fff; }
.home .featured-wrap {
  padding: 60px 0 120px;
  text-align: center;
  background-image: url(img/home-featured.jpg);
  background-position:center -150px;}
  .home .featured-wrap *:not(.error-message) {
    position: relative;
    z-index: 100; }
.home .bottom-cta {
  margin-top: -30px; }

/*--------------------------------------------------
---------- Renzoku
--------------------------------------------------*/



/*--------------------------------------------------
---------- Features
--------------------------------------------------*/
.enterprise .featured-wrap {
  background-image: url("../img/bg/portfolio-featured.jpg");
  text-align: center; }
.enterprise .featured-content {
  padding: 10px 0px; }
  .enterprise .featured-content * {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4); }
  .enterprise .featured-content blockquote {
    width: 80%;
    margin: 30px 0px;
    display: inline-block;
    text-align: left; }
    .enterprise .featured-content blockquote .quote-img {
      width: 10%;
      float: left; }
    .enterprise .featured-content blockquote img {
      max-width: 100%;
      border-radius: 1000px; }
    .enterprise .featured-content blockquote p {
      width: 87%;
      margin-top: 10px;
      float: right; }
    .enterprise .featured-content blockquote span {
      display: block; }
    .enterprise .featured-content blockquote .quote {
      font-size: 18px;
      font-style: italic; }
    .enterprise .featured-content blockquote .meta {
      margin-top: 10px; }

.enterprise-panel {
  padding: 80px 0px;
  position: relative;
  background: #aaa; }
  .enterprise-panel .btn {
    padding: 10px 20px 13px;
    font-size: 1.200em;
    font-weight: 400; }
  .enterprise-panel .enterprise-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1; }
    .enterprise-panel .enterprise-bg div {
      width: 50%;
      height: 100%;
      position: absolute;
      top: 0px;
      background: #ccc; }
    .enterprise-panel .enterprise-bg .enterprise-intro-bg {
      left: 0px;
      background: #2C3E50; }
      .enterprise-panel .enterprise-bg .enterprise-intro-bg:after {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        content: '';
        opacity: 0.3;
        background-size: 170%; }
    .enterprise-panel .enterprise-bg .enterprise-tools-bg {
      right: 0px;
      background: #6B96C9; }
      .enterprise-panel .enterprise-bg .enterprise-tools-bg:after {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 0px;
        left: -2px;
        content: '';
        background: #fcfcfc; }
  .enterprise-panel .enterprise-intro, .enterprise-panel .enterprise-tools {
    position: relative;
    z-index: 100; }
    .enterprise-panel .enterprise-intro *, .enterprise-panel .enterprise-tools * {
      color: #fff; }
    .enterprise-panel .enterprise-intro blockquote p:not(.by), .enterprise-panel .enterprise-intro li, .enterprise-panel .enterprise-tools blockquote p:not(.by), .enterprise-panel .enterprise-tools li {
      font-size: 1.286em; }
  .enterprise-panel .enterprise-intro blockquote p:not(.by) {
    margin: 60px 0px 20px;
    font-style: italic;
    font-weight: 300 !important; }
    .enterprise-panel .enterprise-intro blockquote p:not(.by):before, .enterprise-panel .enterprise-intro blockquote p:not(.by):after {
      content: "\22"; }
  .enterprise-panel .enterprise-intro img {
    width: 65px;
    height: 65px;
    margin-bottom: 50px;
    float: left;
    border-radius: 1000px; }
  .enterprise-panel .enterprise-intro .by {
    margin: 12px 0px 0px 20px;
    float: left; }
  .enterprise-panel .enterprise-intro .btn {
    margin-right: 15px; }
  .enterprise-panel .enterprise-tools {
    padding-left: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .enterprise-panel .enterprise-tools h2 {
      font-size: 2.000em; }
    .enterprise-panel .enterprise-tools li {
      margin: 30px 0px 20px 10px;
	  padding:8px 0 10px 40px;
      color: rgba(255, 255, 255, 0.8); }
    .enterprise-panel .enterprise-tools [class^="ss-"] {
      width: 30px;
      display: inline-block;
      position: relative;
      top: -2px;
      font-size: 0.900em; }

.workspaces-panel {
  padding: 120px 0;
  text-align: center; }
  .workspaces-panel .row:nth-child(1) {
    margin-bottom: 20px; }
  .workspaces-panel h2 {
    font-weight: 300; }
  .workspaces-panel h4 {
    font-size: 1.286em;
    font-weight: 400; }
  .workspaces-panel .workspaces-icon {
    position: relative; }
    .workspaces-panel .workspaces-icon span {
      width: 185px;
      height: 129px;
      display: inline-block;
      background: url("../img/icons/tools-icons.png") no-repeat; }
    .workspaces-panel .workspaces-icon .ship-code {
      background-position: -370px 0px; }
    .workspaces-panel .workspaces-icon .discussions {
      background-position: -555px 0px; }
    .workspaces-panel .workspaces-icon .bugs {
      background-position: -186px 0px; }
    .workspaces-panel .workspaces-icon .document {
      background-position: -742px 0px; }
  .workspaces-panel .workspaces-icon:nth-child(1) {
    left: 90px; }
  .workspaces-panel .workspaces-icon:nth-child(3) {
    right: 90px; }
  .workspaces-panel .btn {
    margin: 0px 8px; }
	
/*--------------------------------------------------
---------- Simple Quote
--------------------------------------------------*/
.simple-quote blockquote {
  width: 100%;
  display: inline-block; }
  .simple-quote blockquote img {
    width: 80px;
    margin-right: 20px;
    padding: 0px !important;
    float: left;
    border-radius: 1000px !important;
    border: none !important;
    background: none !important; }
  .simple-quote blockquote .quote {
    margin-top: 5px;
    font-size: 1.2em !important;
    font-style: italic;
    line-height: 155%;
    letter-spacing: 0.1px; }
  .simple-quote blockquote .meta {
    margin-top: 15px;
    font-size: 0.929em !important; }

/*--------------------------------------------------
---------- Companies
--------------------------------------------------*/
.companies .block-12 {
  width: 100%;
  height: 60px;
   }
   
/*--------------------------------------------------
---------- Buttons
--------------------------------------------------*/
/*----- Default -----*/
.btn, .hbspt-form .hs-form .hs-button {
  padding: 10px 20px;
  display: inline-block;
  box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: none;
  background: #ddd;
  amily: "Open Sans";
  font-weight: 600; }
  .btn:hover, .hbspt-form .hs-form .hs-button:hover {
    cursor: pointer;
    background: #e2e2e2;
    text-decoration: none; }
  .btn:active, .hbspt-form .hs-form .hs-button:active {
    position: relative;
    top: 1px;
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.2);
    background: #ccc; }

/*----- Colous -----*/
.btn.red, .btn.blue, .btn.green {
  color: #fff; }

.btn.red {
  background: #cc5a4e; }
  .btn.red:hover {
    background: #de695c; }
  .btn.red:active {
    background: #b4443c; }

.btn.green, .hbspt-form .hs-form .hs-button {
  background: #72A812; }
  .btn.green:hover, .hbspt-form .hs-form .hs-button:hover {
    background: #8cc334; }
  .btn.green:active, .hbspt-form .hs-form .hs-button:active {
    background: #558d00; }

.btn.blue {
  background: #5e81ba; }
  .btn.blue:hover {
    background: #7495cf; }
  .btn.blue:active {
    background: #4a6ca3; }

/*----- Sizes -----*/
.btn.medium {
  padding: 14px 26px;
  font-size: 1.286em; }

.btn.large {
  padding: 19.5px 35px;
  font-size: 1.571em; }   

/*--------------------------------------------------
---------- Companies 2
--------------------------------------------------*/
.companies-2 .wrap {
  padding: 80px 0 120px 0; }
.companies-2 .block-12 {
  height: 62px;
  background: url("../img/bg/company-logos-4.png") no-repeat center; }
.companies-2 h2 {
  margin-bottom: 30px;
  color: #fff; }

/*--------------------------------------------------
---------- Companies 2 (Light Version)
--------------------------------------------------*/
.companies-2-light {
  background: none; }
  .companies-2-light .block-12 {
    background: url("../img/bg/company-logos.png") no-repeat center; }
  .companies-2-light h2 {
    color: #666; }

.list-lietou {
	background:url(img/lietou.png) left top no-repeat;
	padding:0 0 0 45px;}	

.list-jiaofu {
	background:url(img/jiaofu.png) left top no-repeat;
}
.list-goutong {
	background:url(img/goutong.png) left top no-repeat;
	}
.list-fuwu {
	background:url(img/fuwu.png) left top no-repeat;}
.list-rencaiku {
	background:url(img/rencaiku.png) left top no-repeat;
}

.sh-com-links  {
	text-align:center;}

.sh-com-links li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:5px 10px 5px 10px;
	}
	
.sh-com-links li img {
	border:1px solid #ccc;}

.sh-contact-wrap {
	width:100%;
	text-align:center;
	background:url("img/lightbg.jpg")}
.sh-email-add {
	padding-top:15px;
	}
	
	
.pad-b-contact {
	padding-bottom:165px !important;}	

.sh-contact-btn {
	float:right;
	margin-top:20px;}
/*--------------------------------------------------
---------- Temporary RWD
--------------------------------------------------*/
@media screen and (max-width: 1300px) {
  .wrap {
    width: 90%; } }
@media screen and (max-width: 1210px) {
  .plans .plans-table .info {
    margin-right: 0px; } }
@media screen and (max-width: 1205px) {
  .row .block-2 {
    width: 16.66666666666669%;
    margin-right: 0px; }

  .footer-wrap .block-10 {
    margin-right: 0px; }

  .footer-wrap .social li {
    width: 47%; }
    .footer-wrap .social li:nth-child(2), .footer-wrap .social li:nth-child(4) {
      float: right; } }
@media screen and (max-width: 1100px) {
  .wrap, .tab-block .wrap {
    width: 1000px !important; } }
.fancy-quote .wrap, .simple-quote .wrap {
  width: 100% !important; }
  
/* ------------ Retina ------------ */
@media only screen and (-o-min-device-pixel-ratio: 2/1), /* Opera */
only screen and (min--moz-device-pixel-ratio: 2),        /* Firefox 16 Before */
only screen and (-webkit-min-device-pixel-ratio: 2),    /* Webkit */
only screen and (min-resolution: 240dpi),                    /* Standard */
only screen and (min-resolution: 2dppx)                      /* Standard */
{
	.header .home-logo {
    background: url("img/large-logo_2x.png") no-repeat; 
	background-size:250px 72px;}
	
	.list-lietou {
	background:url(img/lietou_2x.png) left top no-repeat;
	padding:0 0 0 45px;
	background-size:40px 40px;}	

	.list-jiaofu {
		background:url(img/jiaofu_2x.png) left top no-repeat;
		background-size:35px 35px;
	}
	.list-goutong {
		background:url(img/goutong_2x.png) left top no-repeat;
		background-size:35px 35px;
		}
	.list-fuwu {
		background:url(img/fuwu_2x.png) left top no-repeat;
		background-size:35px 35px;
		}
	.list-rencaiku {
		background:url(img/rencaiku_2x.png) left top no-repeat;
		background-size:35px 35px;
	}
}
